$env:DEPLOY_URL=""
$env:DEPLOY_MODEL_ID=""
$env:DEPLOY_CLIENT_ID=""
$env:DEPLOY_CLIENT_SECRET=""

$env:GENERATE_FACT_URL=""
$env:GENERATE_REPLY_URL=""
$env:GENERATE_TOKEN=""

$env:TWITTER_ACCESS_TOKEN=""
$env:TWITTER_ACCESS_TOKEN_SECRET=""
$env:TWITTER_CONSUMER_KEY=""
$env:TWITTER_CONSUMER_SECRET=""

$env:CAT_API_KEY=""